@{
    ViewData["Title"] = "Home Page";
}

<div id="map" style="width: 100%; height: 500px;"></div>

<script>
    var mymap = L.map('map').setView([48.464837, 35.048401], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    function onMapClick(e) {
        var data = {
            Latitude: e.latlng.lat,
            Longitude: e.latlng.lng
        };
        fetch("/Map/Index",
            {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify(data)
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    fetch("/Map/Points", {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: "GET",
                    })
                    .then(res => res.json())
                        .then(data => {
                            var allLayers = mymap._layers;
                            for (var layerId in allLayers) {
                                var layer = allLayers[layerId];
                                if (layer instanceof L.Marker) {
                                    mymap.removeLayer(layer);
                                }
                            }

                            for (const item of data) {
                                if (item.latitute != null && item.longitude != null) {
                                    var marker = L.marker([item.latitute, item.longitude]).addTo(mymap);
                                    var popupContent = `
                                        <div>
                                            <p>Name: <b>${item.firstName}</b></p>
                                            <p>Last Name: <b>${item.lastName}</b></p>
                                            <p>Latitute: <b>${item.latitute}</b></p>
                                            <p>Longitude: <b>${item.longitude}</b></p>
                                            <p>Last Modified: <b>${item.lastModified}</b></p>
                                        </div>

                                    `;
                                    marker.bindPopup(popupContent);
                                }
                            }
                        })
                }
            })
    }

    mymap.on('click', onMapClick);
</script>

